@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard";
}
@model List<FormsProyect.Models.Entities.Users>;

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Users</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Full Name</th>
                    <th>E-mail</th>
                    <th>Blocked</th>
                    <th>User Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item._Name</td>
                        <td>@item.Email</td>
                        <td>@(item.Active ? "Unblocked" : "Blocked")</td>
                        <td>@(item.Admin ? "Admin" : "User")</td>
                        <td>
                            <a asp-controller= "Users" asp-action="Delete" asp-route-id="@item.UserId" onclick="return Confirm()" class="btn btn-danger">
                                Delete User
                            </a>
                            <a asp-controller="Users" asp-action="Block" asp-route-id="@item.UserId" class="btn @(item.Active ? "btn-danger" : "btn-primary")">
                                @(item.Active ? "Block" : "Unblock")
                            </a>
                            <a asp-controller="Users" asp-action="AddAdmin" asp-route-id="@item.UserId" class="btn @(item.Admin ? "btn-danger" : "btn-primary")">
                                @(item.Admin ? "Remove from Admins" : "Add to Admins")
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Script{
    <script>
        function Confirm(){
            return confirm("Are you sure you want to delete this user?")
        }
    </script>
}